.addition {
  .v-zero();
}

.addition__title {
  .oswald-title(24px, 24px);
  margin-top: 30px;
  margin-bottom: 34px;
  .green-line-init(block, block, 20px);
}

.addition__link {
  margin: 40px auto 36px;
  width: 280px;
  min-height: 289px;
}

.addition__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.addition__item:first-of-type {
  .top-line();
}

@media (min-width: @tabletwidth) {
  .addition__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 64px;
    margin-bottom: 81px;
    padding: 0 38px;
    .green-line-update(block, block, 40px, 23px);
  }

  .addition__link {
    width: 100%;
    margin: 0;
    margin-top: 70px;
  }
}


@media (min-width: @desktopwidth) {
  .addition {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .addition__title {
    margin-top: 72px;
    margin-bottom: 81px;
    padding: 0;
    .green-line-update(block, block, 40px, 23px);
  }

  .addition__items {
    min-width: 900px;
    margin-top: 0;
    padding-right: 4px;
  }

  .addition__link {
    margin: 0;
    margin-left: auto;
    max-width: 25%;
  }
}
