.commodity {
  box-shadow: 0 0 1px 0 @lightgrey;
  position: relative;
  padding: 13px 0 15px;
  margin: 0;
}

.commodity__name {
  .oswald-title-small();
  display: block;
  margin-bottom: 14px;
  vertical-align: baseline;
  text-decoration: none;
  color: @almostblack;
}

.commodity__info-item {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
}

.commodity__order {
  margin-top: 14px;
  margin-bottom: 3px;
}

@media (min-width: @tabletwidth) {
  .commodity {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 38px 24px;
  }

  .commodity__name {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .commodity__info-item {
    margin: 0 0 0 auto;
    font-size: 16px;
    line-height: 20px;
  }

  .commodity__order {
    margin-top: 20px;
    flex-basis: 100%;
  }
}

@media (min-width: @desktopwidth) {
  .commodity {
    padding: 16px 0;
    justify-content: space-between;
  }

  .commodity__order {
    margin: 0;
    flex-basis: 33.33%;
    max-width: 245px;
    font-size: 16px;
  }

  .commodity__info-item {
    margin: 0 40px 0 auto;
    width: 285px;
  }
}
