.contacts {
  display: flex;
  align-items: flex-start;
  z-index: 2;
  margin-top: 0;
  width: 100%;

  &--white {
    background-color: @basewhite;
  }

  &--grey {
    background-color: @basegrey;
  }
}

.contacts__wrapper {
  display: flex;
  align-items: flex-start;
  min-height: 114px;
  .fix-IE-bug(74px);
  position: relative;
  z-index: 3;
  padding: 20px 0;
}

.contacts__slogan {
  width: 50%;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  font-family: @oswaldfont;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-self: center; /*Для ИЕ*/
  text-align: left;
}

.contacts__address {
  width: 50%;
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-family: @arialfont;
  font-size: 14px;
  line-height: 20px;
  color: @darkgrey;
  align-self: center; /*Для ИЕ*/
  text-align: left;
}

.contacts__city {
  width: 100%;
  display: block;
}

.contacts__map {
  min-height: 364px;
  z-index: 1;
}

@media (min-width: @tabletwidth) {
  .contacts__wrapper {
    padding: 22px 40px 18px;
    min-height: 200px;
    .fix-IE-bug(160px);
    width: 100%;
    background-color: inherit;
  }

  .contacts__slogan {
    max-width: 175px;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
    padding-top: 7px;
  }

  .contacts__address {
    max-width: 175px;
    text-align: right;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding-top: 7px;
  }

  .contacts__city {
    margin-top: 22px;
  }
}

@media (min-width: @desktopwidth) {
  .contacts {
    background-color: transparent;
  }

  .contacts__wrapper {
    max-width: 570px;
    background-color: @basewhite;
    padding: 18px 76px 22px;
    .fix-IE-bug(160px);
  }

  .contacts__address {
    text-align: left;
    max-width: 166px;
  }
}
