.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.copyright__link {
  font-family: @arialfont;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  width: 100%;
  color: @darkgrey;
  fill: @darkgrey;

  &:hover,
  &:focus {
    color: @basegreen;
    fill: @basegreen;
  }

  &:active {
    color: @basegreen;
    fill: @basegreen;
    opacity: 0.3;
  }
}

.copyright__image {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: @tabletwidth) {
  .copyright__link {
    width: auto;
  }

  .copyright__image {
    margin-left: 23px;
  }
}


@media (min-width: @desktopwidth) {
  .copyright__image {
    margin-left: 23px;
  }

  .copyright__link {
    margin-top: 9px;
  }
}
