.example {
  .v-zero();
  margin-top: 43px;
  padding-top: 17px;
  background-color: @basegrey;
}

.example__title {
  .oswald-title();
}

.example__tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.example__text {
  margin: 22px 0 28px;
  padding: 0;
  color: @darkgrey;
}

.example__summary {
  font-family: @oswaldfont;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__wrapper {
  padding-bottom: 0;
}

@media (min-width: @tabletwidth) {
  .example {
    background-color: @basewhite;
    margin-top: 55px;
    padding-top: 45px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    background-color: @basewhite;
  }

  .example__wrapper {
    padding-bottom: 0;
  }

  .example__results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 42px;

    &::before {
      display: none;
    }
  }

  .example__text {
    width: 100%;
  }

  .example__summary {
    font-size: 20px;
    max-width: 175px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 28px;
    padding-top: 10px;
  }

  .example__summary-total {
    display: block;
    width: 100%;
  }

  .example__tags {
    width: 364px;
    margin-top: 28px;
  }

  .example__slider {
    margin-top: 20px;
    background-color: @basewhite;
    background-image: linear-gradient(to right, @basegrey 0, @basegrey 50%, @hovergrey 50%, @hovergrey 100%);
    background-size: 100% 395px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-origin: border-box;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: auto;
      bottom: 0;
      width: 100vw;
      height: 395px;
    }

    &::before {
      background-color: @basegrey;
      right: 100%;
      left: auto;
    }

    &::after {
      background-color: @hovergrey;
      left: 100%;
      right: auto;
    }
  }
}

@media (min-width: @desktopwidth) {
  .example {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-top: 35px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 0; /*кто ж такую сетку придумал-то...*/
    background-color: @basegrey;
    z-index: 5;
    padding-bottom: 0;
  }

  .example__title {
    width: 100%;
    padding-right: 700px;
    padding-bottom: 79px;
    margin-bottom: 0;
    background-color: white;
  }

  .example__text {
    padding: 3px 0;
    margin-bottom: 43px;
  }

  .example__tags {
    margin-bottom: 14px;
  }

  .example__results {
    flex-direction: column;
    width: 430px;
    padding-bottom: 55px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: @basegrey;
      top: 0;
      bottom: 0;
      width: 100vw;
      height: 100%;
      right: 100%;
    }
  }

  .example__slider {
    width: 690px;
    margin-left: auto;
    padding-bottom: 55px;
    background-image: linear-gradient(to right, @basegrey 0, @basegrey 400px, @hovergrey 400px, @hovergrey 100%);
    background-size: auto;
    background-position: bottom left;
    position: relative;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: @hovergrey;
      top: 0;
      bottom: 0;
      width: 100vw;
      height: 100%;
      left: 100%;
    }
  }

  .example__summary {
    max-width: 330px;
    text-align: left;
    flex-direction: row;
  }

  .example__summary-total {
    width: auto;
  }
}
