.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: @oswaldfont;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  flex-shrink: 1;
  position: relative;
}

.field__label {
  color: @almostblack;
}

.field__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 16px;
  color: @darkgrey;
  fill: @darkgrey;
  z-index: 2;
}

.field--required > .field__label::after {
  content: "*";
}

.field__input {
  flex-grow: 1;
  flex-shrink: 1;
  font: inherit;
  text-transform: inherit;
  border: 1px solid rgba(205, 205, 205, 0.5);
  color: @darkgrey;
  margin-left: 14px;
  outline: none;
  box-shadow: none;

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    border: 2px solid @darkgrey;
  }

  &:invalid {
    border: 2px solid @basered;
  }
}

.field__input--iconed:focus + .field__icon {
  color: @basegreen;
  fill: @basegreen;
}

.field__input--iconed:invalid + .field__icon {
  color: @basered;
  fill: @basered;
}


.field__input--simple {
  padding: 14px 12px 13px;

  &:focus {
    padding: 13px 11px 12px;
  }

  &:invalid {
    padding: 13px 11px 12px;
  }
}

.field__input--number {
  padding: 14px 15px 13px;

  &:focus {
    padding: 13px 14px 12px;
  }

  &:invalid {
    padding: 13px 14px 12px;
  }
}

.field__input--iconed {
  padding: 14px 39px 13px 13px;
  background-position: 95% center;
  background-repeat: no-repeat;

  &:focus {
    padding: 13px 38px 12px 12px;
  }

  &:invalid {
    padding: 13px 38px 12px 12px;
  }
}

.field__input--email-iconed {
  margin-left: 18px;
}

.field__input--pnone-iconed {
  margin-left: 4px;
}

.field__input--textarea {
  overflow-y: auto;
  min-height: 150px;
  padding: 14px 0;
  resize: none;
}

.field:not(:last-of-type) {
  margin-bottom: 12px;
}

@media (min-width: @tabletwidth) {
  .field {
    font-size: 20px;
    line-height: 20px;
  }

  .field__input--simple {
    padding: 10px 20px 10px;

    &:focus,
    &:invalid {
      padding: 9px 19px 9px;
    }
  }

  .field__input--number {
    padding: 10px 20px 10px;
    margin-left: 20px;

    &:focus,
    &:invalid {
      padding: 9px 19px 9px;
    }
  }

  .field__input--iconed {
    padding: 9px 32px 11px 19px;
    margin-left: 20px;
    background-position: 97% center;

    &:focus {
      padding: 8px 31px 10px 18px;
    }

    &:invalid {
      padding: 8px 31px 10px 18px;
    }
  }

  .field__input--pnone-iconed {
    margin-left: 16px;
  }

  .field__input--email-iconed {
    margin-left: 18px;
  }


  .field:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .field__input--textarea {
    margin-left: 0;
    min-height: 175px;
    padding: 17px 20px 17px;

    &:focus,
    &:invalid {
      padding: 16px 19px 16px;
    }
  }
}

@media (min-width: @desktopwidth) {
  .field__input--iconed {
    background-position: 96% center;
  }

  .field__input--textarea {
    min-height: 172px;
    padding: 14px 20px 14px;

    &:focus,
    &:invalid {
      padding: 13px 19px 13px;
    }
  }
}
