.footer {
  margin: 0;
  padding: 0;
  background-color: @basegrey;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94px;
  .fix-IE-bug(94px);
}

.footer__social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
  .fix-IE-bug(62px);
  border-top: 1px solid rgba(205, 205, 205, 0.5);
  border-bottom: 1px solid rgba(205, 205, 205, 0.5);
}

.footer__copyright {
  min-height: 78px;
  display: flex;
  align-items: center;
  .fix-IE-bug(78px);
}


@media (min-width: @tabletwidth) {
  .footer__layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    .fix-IE-bug(110px);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__logo {
    width: auto;

    &::before {
      display: none;
    }
  }

  .footer__social {
    width: 33%;
    flex-grow: 10;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;

    &::before,
    &::after {
      display: none;
    }
    border: none;
  }

  .footer__copyright {
    width: auto;
    margin-left: auto;

    &::before {
      display: none;
    }
  }
}
