.footer {
  background-color: @basegrey;
  padding: 0;
  margin: 0;
}

.footer__contacts {
  margin: 0;
  padding: 20px;
}

.footer__logo {
  padding: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social {
  padding: 22px;
  display: flex;
  justify-content: center;

  position: relative;
  .top-line(20px);
  .bottom-line(20px);
}

.footer__copyright {

  padding: 22px;
}
