.form {
  padding: 16px 16px 19px;
  margin: 0;
  font-family: @oswaldfont;
}

.form__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.form__fieldset {
  margin: 0;
  padding: 14px 0;
  border: none;
}

.form__legend {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 400;


  &--normal {
    margin-bottom: 36px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--accented {
    .oswald-title(24px, 24px);
    margin-bottom: 34px;
    .green-line-init(block, block, 20px, 14px);
  }
}

.form__options {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;

  &--bordered::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: -20px;
    right: -20px;
    border: 1px solid @lightgrey;
  }


  &--radio {
    padding: 19px 0 25px;
    margin-top: 23px;
  }
}

.form__option:not(:last-of-type) {
  margin-bottom: 12px;
}

.form__button {
  width: 100%;
  margin-top: 21px;
  margin-bottom: 21px;
}

.form__footnote {
  font-family: @arialfont;
  color: @darkgrey;
  width: 100%;
  text-align: center;
  font-size: 85%;
}


@media (min-width: @tabletwidth) {
  .form {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  .form__title {
    font-size: 60px;
    margin-top: 10px;
  }

  .form__legend {
    &--normal {
      font-size: 20px;
      line-height: 30px;
      margin-top: 31px;
      margin-bottom: 67px;
    }

    &--accented {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 75px;
      .green-line-update (block, block, 40px, 22px);
    }
  }


  .form__legend--accented br {
    display: none;
  }

  .form__options {
    display: flex;
    flex-wrap: wrap;

    &--radio {
      padding: 27px 32px 25px;
      margin: 71px 0 0;
    }

    &--bordered::after {
      left: 0;
      right: 0;
    }
  }

  .form__fieldset--addition .form__option {
    flex-basis: 40%;
    margin-bottom: 30px;
  }

  .form__fieldset--addition .form__option:nth-of-type(2n) {
    margin-left: 94px;
  }

  .form__fieldset--program .form__option {
    flex-basis: 100%;
  }

  .form__fieldset {
    padding: 24px 40px 0;
  }

  .form__fieldset--data {
    margin-top: 51px;
  }

  .form__fieldset--comment {
    margin-top: 40px;
  }

  .form__fieldset--addition {
    margin-top: 42px;
  }

  .form__fieldset--addition .form__legend {
    margin-bottom: 60px;
  }

  .form__button {
    width: 285px;
    min-height: 53px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 23px;
  }

  .form__footnote {
    font-size: 100%;
    text-align: left;
    margin-left: 62px;
    max-width: 200px;
  }

  .form__wrapper--horizontal {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: @desktopwidth) {
  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 60px;
  }

  .form__title {
    margin-top: 30px;
  }

  .form__fieldset {
    width: 100%;
    padding: 24px 0 0;
  }

  .form__legend--accented {
    .green-line-update(block, block, 40px, 22px);
  }

  .form__fieldset--program {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  .form__fieldset--program .form__legend {
    flex-basis: 100%;
  }

  .form__fieldset--program .form__wrapper {
    flex-basis: 47%;
  }

  .form__fieldset--program .form__options {
    flex-basis: 47%;
    max-width: 47%; //Для ИЕ
    padding: 24px 34px;
    margin: 0 0 0 auto;
  }

  .form__fieldset--data {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
  }

  .form__fieldset--data .form__legend {
    margin-right: 50%;
  }

  .form__fieldset--data .form__field {
    flex-basis: 47%;
  }

  .form__fieldset--comment {
    margin-top: 24px;
  }

  .form__fieldset--addition .form__options {
    justify-content: space-between;
  }

  .form__fieldset--addition .form__option:nth-of-type(2n) {
    margin-left: 0;
  }

  .form__fieldset--addition .form__option {
    flex-basis: 20%;
  }

  .form__wrapper--horizontal {
    margin-top: 30px;
  }

  .form__button {
    width: 47%;
    margin: 0;
  }

  .form__footnote {
    min-width: 47%;
    margin-left: auto;
  }
}
