.map {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 476px;
  padding-bottom: 362px;
}

.map__image {
  position: absolute;
  z-index: 1;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border: none;
  background-color: @darkgrey;
  margin: 0 auto;
}

.map__image--static {
  max-width: @mobilewidth;
  width: @mobilewidth;
  top: auto;
  bottom: 0;
  height: 400px;
}

.map__image--iframe {
  width: 100%;
  max-height: 400px;
}

.map__image--hide {
  display: none;
}

.map__image--show {
  display: block;
}

.map__image--nojs {
  display: none;
}

@media (min-width: @tabletwidth) {
  .map {
    padding: 0;
    min-height: 600px;
  }

  .map__image--static {
    width: @tabletwidth;
    max-width: @tabletwidth;
    top: auto;
    bottom: 2px;
    min-height: 400px;
  }

  .map__image--iframe {
    max-height: 400px;
  }
}

@media (min-width: @desktopwidth) {
  .map {
    padding: 95px 110px 95px;
    margin-top: 0;
    min-height: 400px;
  }

  .map__image--static {
    max-width: 1440px;
    width: 1440px;
    top: 0;
    bottom: 0;
    height: 100%;
  }

  .map__image--iframe {
    max-height: auto;
  }
}
