.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  display: inline-block;
  width: 100%;
  padding: 22px 22px 23px;
  font-family: @oswaldfont;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 1px 0 @lightgrey;
}

.menu__link--light {
  color: rgba(255, 255, 255, 1);

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.6);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--current {
    border-bottom: 2px solid @basewhite;
  }
}

.menu__link--dark {
  color: rgba(17, 17, 17, 1);

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &--current {
    border-bottom: 2px solid @basegreen;
  }
}
