.option {
  position: relative;
}

.option__label {
  display: inline-block;
  margin-left: 40px;
  padding: 8px 6px 4px;
  vertical-align: baseline;
  text-transform: uppercase;
}

.option__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px @lightgrey;
}

.option__control--radio + .option__label::before {
  border-radius: 50%;
}

.option__control--checkbox + .option__label::before {
  top: 4px;
}

.option__control:checked + .option__label::after {
  content: "";
  position: absolute;
}

.option__control--radio:checked + .option__label::after {
  top: 9px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: @basegreen;
}

.option__control--checkbox:checked + .option__label::after {
  top: 10px;
  left: 6px;
  width: 20px;
  height: 10px;
  transform: rotate(-45deg);
  border-bottom: 2px solid @basegreen;
  border-left: 2px solid @basegreen;
}

.option__control:hover + .option__label::before,
.option__control:active + .option__label::before {
  box-shadow: 0 0 0 1px @middlegrey;
}

.option__control:active + .option__label {
  opacity: 0.3;
}

.option__control:disabled + .option__label {
  opacity: 0.2;
}

.option__control--radio:disabled + .option__label::after {
  background-color: @middlegrey;
}

.option__control--checkbox:disabled + .option__label::after {
  border-bottom: 2px solid @middlegrey;
  border-left: 2px solid @middlegrey;
}

@media (min-width: @tabletwidth) {
  .option__label {
    font-size: 20px;
    line-height: 20px;
    margin-left: 50px;
    padding: 8px 8px 13px;

    &::before {
      top: 0;
      width: 38px;
      height: 38px;
    }
  }

  .option__control:checked + .option__label::after {
    top: 10px;
    left: 10px;
  }

  .option__control--radio:checked + .option__label::after {
    width: 18px;
    height: 18px;
  }

  .option__control--checkbox:checked + .option__label::after {
    width: 20px;
    height: 10px;
  }
}


@media (min-width: @desktopwidth) {
  .option__label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 34px;
      height: 34px;
    }
  }

  .option__control:checked + .option__label::after {
    top: 10px;
    left: 10px;
  }

  .option__control--radio:checked + .option__label {
    &::after {
      width: 18px;
      height: 18px;
      top: 11px;
      left: 8px;
    }

    &::before {
      top: 3px;
    }
  }
}
