.product {
  display: flex;
  flex-wrap: wrap;
  // margin: 0;
  padding: 20px 0;
  box-shadow: 0 0 1px 0 @lightgrey;
}

.product__link {
  width: 50%;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__wrapper {
  width: 50%;
}

.product__order {
  width: 100%;
  margin-top: auto;
}

.product__name {
  .oswald-title-small(20px);
  width: 60%;
  text-decoration: none;
  color: @baseblack;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;


  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__info-items {
  width: 100%;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
}

.product__info-item:not(:last-of-type) {
  margin-bottom: 2px;
}

@media (min-width: @tabletwidth) {
  .product {
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-image: linear-gradient(to bottom, @basewhite 0, @basewhite 20%, @basegrey 20%, @basegrey 100%);
  }

  .product__wrapper {
    width: 100%;
    text-align: center;
  }

  .product__name {
    width: 100%;
  }
}

// @media (min-width: @desktopwidth) {
// }
