.product {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 5px;
  box-shadow: 0 0 1px 0 @lightgrey;
}

.product__link {
  display: block;
  width: 140px;
  height: 144px;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__picture {
  margin-top: auto;
}

.product__image {
  display: block;
}

.product__wrapper {
  width: 50%;
}


.product__order {
  width: 100%;
  margin-top: auto;
}

.product__name {
  .oswald-title-small(20px);
  width: 60%;
  text-decoration: none;
  color: @baseblack;
  margin-top: 20px;
  display: inline-block;
  vertical-align: baseline;


  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__info-items {
  width: 100%;
  margin: 13px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tabletwidth) {
  .product {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 36px;
    background-image: linear-gradient(to bottom, @basewhite 0, @basewhite 22.5%, @basegrey 22.5%, @basegrey 100%);
  }

  .product__link {
    width: 324px;
    height: 208px;
    display: flex;
  }

  .product__wrapper {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .product__name {
    width: 65%;
    font-size: 20px;
  }

  .product__order {
    margin-top: 23px;
  }
}

@media (min-width: @desktopwidth) {
  .product {
    padding: 40px;
  }

  .product__name {
    width: 80%;
  }

  .product__link {
    width: 245px;
  }

  .product__info-item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: @lightgrey;
      bottom: -2px;
      left: 0;
      right: 0;
    }
  }
}
