.program {
  // margin: 0;
  padding: 27px 20px 8px;
  background-color: @basegrey;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: @basegreen;
    .program-icon(50px, 50px, 22px, auto, 24px);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .program-icon(67px, 50px, 13px, auto, 20px);
  }
}


.program--losing::after {
  background-image: url("../img/icon-cat-slim.svg");
}

.program--gathering::after {
  background-image: url("../img/icon-cat-pro.svg");
}

.program__title {
  position: relative;
  min-height: 50px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  padding-top: 5px;
  font-family: @oswaldfont;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  vertical-align: middle;
  text-transform: uppercase;
}

.program__text {
  position: relative;
  margin: 0;
  margin-top: 7px;
  padding: 12px 0 24px;
  color: @darkgrey;
  .bottom-line();
}

.program__link {
  display: inline-block;
  margin-top: 7px;
}

@media (min-width: @tabletwidth) {
  .program {
    padding: 75px 55px 50px;
    min-height: 370px;
    width: 100%;
    flex-direction: column;

    &::before {
      .program-icon(200px, 200px, auto, 62px, 90px);
    }

    &::after {
      .program-icon(267px, 200px, auto, 28px, 90px);
    }
  }

  .program--losing::after {
    top: 75px;
  }


  .program__title {
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    width: 56%;
    font-size: 36px;
    line-height: 37px;
  }

  .program__text {
    width: 56%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    &::after {
      visibility: hidden;
    }
  }

  .program__link {
    margin-top: auto;
    margin-right: 44%;
    max-width: 56%;
  }
}

@media (min-width: @desktopwidth) {
  .program {
    width: 570px;
    padding: 50px;

    &::before {
      .program-icon(100px, 100px, 52px, auto, 47px);
    }

    &::after {
      .program-icon(140px, 100px, 32px, auto, 47px);
    }
  }

  .program--losing::after {
    top: 39px;
  }

  .program__title {
    min-height: 100px;
    margin-left: 164px;
    margin-top: 26px;
    max-width: 65%;
    padding: 0;
  }

  .program__text {
    width: 100%;
    padding: 0 2px 2px;
  }

  .program__link {
    margin-top: auto;
  }
}
