.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 136px;
}

.social__item {
  margin-right: 40px;
  margin-top: 9px;
}

.social__item:nth-of-type(3n) {
  margin-right: 0;
}

.social__link {
  display: block;
  color: @darkgrey;
  line-height: 27px;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: @basegreen;
    fill: @basegreen;
  }

  &:active {
    color: @basegreen;
    fill: @basegreen;
    opacity: 0.3;
  }
}

.social__icon--vk {
  width: 22px;
  height: 12px;
}

.social__icon--in {
  width: 16px;
  height: 16px;
}

.social__icon--fb {
  width: 10px;
  height: 19px;
}

@media (min-width: @tabletwidth) {
  .social {
    max-width: 126px;
  }

  .social__item {
    margin-right: 29px;
    margin-top: 0;
  }

  .social__icon {
    line-height: 30px;
    vertical-align: middle;
  }

  .social__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social__icon--in {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}
