.tag {
  padding: 0;
  margin: 0;
  width: 124px;
  text-align: center;
}

.tag__label {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: @oswaldfont;
}

.tag__info {
  padding: 13px;
  position: relative;
  margin: 0;
}

.tag__info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -13px;
  border: 1px solid @lightgrey;
  z-index: 0;
}

.tag__description {
  position: relative;
  z-index: 2;
  width: 50%;
  top: -8px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
  background-color: @basegrey;
  color: @darkgrey;
  font-size: 12px;
  line-height: 12px;
}


@media (min-width: @tabletwidth) {
  .tag {
    width: 160px;
  }

  .tag__description {
    width: 90%;
    top: 0;
  }

  .tag__label {
    font-size: 30px;
    line-height: 37px;
  }
}
